SubjectTermChanges/Utility/Web References/ItatExternalTerm/ItatExternalTerm0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kindredhealthcare.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://kindredhealthcare.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://kindredhealthcare.com">
      <s:import schemaLocation="http://knectdev/FacilityMaster/Services/ItatExternalTerm.asmx?schema=schema1" namespace="http://kindredhealthcare.com/webservices/" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFilterCatalogSoapIn">
    <wsdl:part xmlns:q1="http://kindredhealthcare.com/webservices/" name="parameters" element="q1:GetFilterCatalog" />
  </wsdl:message>
  <wsdl:message name="GetFilterCatalogSoapOut">
    <wsdl:part xmlns:q2="http://kindredhealthcare.com/webservices/" name="parameters" element="q2:GetFilterCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableColumnsSoapIn">
    <wsdl:part xmlns:q3="http://kindredhealthcare.com/webservices/" name="parameters" element="q3:GetAvailableColumns" />
  </wsdl:message>
  <wsdl:message name="GetAvailableColumnsSoapOut">
    <wsdl:part xmlns:q4="http://kindredhealthcare.com/webservices/" name="parameters" element="q4:GetAvailableColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilterListSoapIn">
    <wsdl:part xmlns:q5="http://kindredhealthcare.com/webservices/" name="parameters" element="q5:GetFilterList" />
  </wsdl:message>
  <wsdl:message name="GetFilterListSoapOut">
    <wsdl:part xmlns:q6="http://kindredhealthcare.com/webservices/" name="parameters" element="q6:GetFilterListResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilteredDataSoapIn">
    <wsdl:part xmlns:q7="http://kindredhealthcare.com/webservices/" name="parameters" element="q7:GetFilteredData" />
  </wsdl:message>
  <wsdl:message name="GetFilteredDataSoapOut">
    <wsdl:part xmlns:q8="http://kindredhealthcare.com/webservices/" name="parameters" element="q8:GetFilteredDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IItatExternalTerm">
    <wsdl:operation name="GetFilterCatalog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of the various filters supported by this web service, and the type of each filter ("List", "Text").</wsdl:documentation>
      <wsdl:input message="tns:GetFilterCatalogSoapIn" />
      <wsdl:output message="tns:GetFilterCatalogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableColumns">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of the columns that can be returned when calling GetFilteredData.</wsdl:documentation>
      <wsdl:input message="tns:GetAvailableColumnsSoapIn" />
      <wsdl:output message="tns:GetAvailableColumnsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilterList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a collection of KeyValue pairs for the given filter; could be used to populate a List control.  If "allowedValues" contain entries, then only those key values that appear in that list will be returned. </wsdl:documentation>
      <wsdl:input message="tns:GetFilterListSoapIn" />
      <wsdl:output message="tns:GetFilterListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a resultset of data satisfying the specifed filter criteria.</wsdl:documentation>
      <wsdl:input message="tns:GetFilteredDataSoapIn" />
      <wsdl:output message="tns:GetFilteredDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IItatExternalTerm" type="tns:IItatExternalTerm">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFilterCatalog">
      <soap:operation soapAction="http://kindredhealthcare.com/webservices/GetFilterCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableColumns">
      <soap:operation soapAction="http://kindredhealthcare.com/webservices/GetAvailableColumns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterList">
      <soap:operation soapAction="http://kindredhealthcare.com/webservices/GetFilterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredData">
      <soap:operation soapAction="http://kindredhealthcare.com/webservices/GetFilteredData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IItatExternalTerm1" type="tns:IItatExternalTerm">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFilterCatalog">
      <soap12:operation soapAction="http://kindredhealthcare.com/webservices/GetFilterCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableColumns">
      <soap12:operation soapAction="http://kindredhealthcare.com/webservices/GetAvailableColumns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterList">
      <soap12:operation soapAction="http://kindredhealthcare.com/webservices/GetFilterList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredData">
      <soap12:operation soapAction="http://kindredhealthcare.com/webservices/GetFilteredData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>