SubjectTermChanges/Web/Web References/PDFService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kindredhealthcare.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://kindredhealthcare.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kindredhealthcare.com/">
      <s:element name="GeneratePDF1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDFXML" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IncludeDraft" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtendedPDFFiles" type="tns:ArrayOfBase64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="OwnerPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Strong" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CopyExtract" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Change" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="AuthorCommentsFormFields" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Assembly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FormFillSign" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="ExtractAccessibilityContents" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="PrintHighQuality" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Print" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="GeneratePDF1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneratePDF1Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePDF2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDFXML" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IncludeDraft" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtendedPDFFiles" type="tns:ArrayOfBase64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="Protect" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="AllowPrinting" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePDF2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneratePDF2Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePDF3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDFXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtendedPDFFiles" type="tns:ArrayOfBase64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="Protect" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="AllowPrinting" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePDF3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneratePDF3Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePDF4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDFXML" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IncludeDraft" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Protect" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="AllowPrinting" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePDF4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneratePDF4Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePDF5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PDFXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePDF5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneratePDF5Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Merge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mergeSpecification" type="tns:MergeSpecification" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MergeSpecification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BasePdf" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="PdfFields" type="tns:ArrayOfPdfField" />
          <s:element minOccurs="0" maxOccurs="1" name="TrueTypeFonts" type="tns:ArrayOfTrueTypeFontSpecification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPdfField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PdfField" nillable="true" type="tns:PdfField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PdfField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PdfFieldType" type="tns:PdfFieldType" />
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SpecialPages" type="tns:SpecialPages" />
          <s:element minOccurs="1" maxOccurs="1" name="PageNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FontType" type="tns:FontType" />
          <s:element minOccurs="0" maxOccurs="1" name="FontName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FontSize" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FontBold" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FontItalic" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HorizontalAlignment" type="tns:HorizontalAlignment" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Wrap" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PdfFieldType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="FormField" />
          <s:enumeration value="Text" />
          <s:enumeration value="MultilineText" />
          <s:enumeration value="SolidRectangle" />
          <s:enumeration value="HollowRectangle" />
          <s:enumeration value="SolidOval" />
          <s:enumeration value="HollowOval" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SpecialPages">
        <s:restriction base="s:string">
          <s:enumeration value="Unspecified" />
          <s:enumeration value="First" />
          <s:enumeration value="Last" />
          <s:enumeration value="All" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FontType">
        <s:restriction base="s:string">
          <s:enumeration value="StandardPdf" />
          <s:enumeration value="CustomTrueType" />
          <s:enumeration value="ServerInstalledTrueType" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="HorizontalAlignment">
        <s:restriction base="s:string">
          <s:enumeration value="Left" />
          <s:enumeration value="Center" />
          <s:enumeration value="Right" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfTrueTypeFontSpecification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TrueTypeFontSpecification" nillable="true" type="tns:TrueTypeFontSpecification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrueTypeFontSpecification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FontName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FontDefinition" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="MergeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergeResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeExtended">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mergeSpecification" type="tns:MergeSpecification" />
            <s:element minOccurs="0" maxOccurs="1" name="pdfFieldExtendeds" type="tns:ArrayOfPdfFieldExtended" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPdfFieldExtended">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PdfFieldExtended" nillable="true" type="tns:PdfFieldExtended" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PdfFieldExtended">
        <s:complexContent mixed="false">
          <s:extension base="tns:PdfField">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="XOffset" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="YOffset" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Rotation" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="WrapHeight" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="MergeExtendedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergeExtendedResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StitchDocuments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documents" type="tns:ArrayOfBase64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StitchDocumentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StitchDocumentsResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StitchPages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="document" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="pages" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="StitchPagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StitchPagesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PageCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="document" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PageCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documents" type="tns:ArrayOfBase64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="printer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintPDFResponse">
        <s:complexType />
      </s:element>
      <s:element name="PrintPDFWithFailover">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documents" type="tns:ArrayOfBase64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="printers" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PrintPDFWithFailoverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrintPDFWithFailoverResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AvailablePrinters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="substring" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AvailablePrintersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AvailablePrintersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrinterExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="printerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrinterExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrinterExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanOpenPrinter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="printerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanOpenPrinterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanOpenPrinterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImpersonatedUser">
        <s:complexType />
      </s:element>
      <s:element name="GetImpersonatedUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImpersonatedUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstalledPrinters">
        <s:complexType />
      </s:element>
      <s:element name="InstalledPrintersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InstalledPrintersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GeneratePDF1SoapIn">
    <wsdl:part name="parameters" element="tns:GeneratePDF1" />
  </wsdl:message>
  <wsdl:message name="GeneratePDF1SoapOut">
    <wsdl:part name="parameters" element="tns:GeneratePDF1Response" />
  </wsdl:message>
  <wsdl:message name="GeneratePDF2SoapIn">
    <wsdl:part name="parameters" element="tns:GeneratePDF2" />
  </wsdl:message>
  <wsdl:message name="GeneratePDF2SoapOut">
    <wsdl:part name="parameters" element="tns:GeneratePDF2Response" />
  </wsdl:message>
  <wsdl:message name="GeneratePDF3SoapIn">
    <wsdl:part name="parameters" element="tns:GeneratePDF3" />
  </wsdl:message>
  <wsdl:message name="GeneratePDF3SoapOut">
    <wsdl:part name="parameters" element="tns:GeneratePDF3Response" />
  </wsdl:message>
  <wsdl:message name="GeneratePDF4SoapIn">
    <wsdl:part name="parameters" element="tns:GeneratePDF4" />
  </wsdl:message>
  <wsdl:message name="GeneratePDF4SoapOut">
    <wsdl:part name="parameters" element="tns:GeneratePDF4Response" />
  </wsdl:message>
  <wsdl:message name="GeneratePDF5SoapIn">
    <wsdl:part name="parameters" element="tns:GeneratePDF5" />
  </wsdl:message>
  <wsdl:message name="GeneratePDF5SoapOut">
    <wsdl:part name="parameters" element="tns:GeneratePDF5Response" />
  </wsdl:message>
  <wsdl:message name="MergeSoapIn">
    <wsdl:part name="parameters" element="tns:Merge" />
  </wsdl:message>
  <wsdl:message name="MergeSoapOut">
    <wsdl:part name="parameters" element="tns:MergeResponse" />
  </wsdl:message>
  <wsdl:message name="MergeExtendedSoapIn">
    <wsdl:part name="parameters" element="tns:MergeExtended" />
  </wsdl:message>
  <wsdl:message name="MergeExtendedSoapOut">
    <wsdl:part name="parameters" element="tns:MergeExtendedResponse" />
  </wsdl:message>
  <wsdl:message name="StitchDocumentsSoapIn">
    <wsdl:part name="parameters" element="tns:StitchDocuments" />
  </wsdl:message>
  <wsdl:message name="StitchDocumentsSoapOut">
    <wsdl:part name="parameters" element="tns:StitchDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="StitchPagesSoapIn">
    <wsdl:part name="parameters" element="tns:StitchPages" />
  </wsdl:message>
  <wsdl:message name="StitchPagesSoapOut">
    <wsdl:part name="parameters" element="tns:StitchPagesResponse" />
  </wsdl:message>
  <wsdl:message name="PageCountSoapIn">
    <wsdl:part name="parameters" element="tns:PageCount" />
  </wsdl:message>
  <wsdl:message name="PageCountSoapOut">
    <wsdl:part name="parameters" element="tns:PageCountResponse" />
  </wsdl:message>
  <wsdl:message name="PrintPDFSoapIn">
    <wsdl:part name="parameters" element="tns:PrintPDF" />
  </wsdl:message>
  <wsdl:message name="PrintPDFSoapOut">
    <wsdl:part name="parameters" element="tns:PrintPDFResponse" />
  </wsdl:message>
  <wsdl:message name="PrintPDFWithFailoverSoapIn">
    <wsdl:part name="parameters" element="tns:PrintPDFWithFailover" />
  </wsdl:message>
  <wsdl:message name="PrintPDFWithFailoverSoapOut">
    <wsdl:part name="parameters" element="tns:PrintPDFWithFailoverResponse" />
  </wsdl:message>
  <wsdl:message name="AvailablePrintersSoapIn">
    <wsdl:part name="parameters" element="tns:AvailablePrinters" />
  </wsdl:message>
  <wsdl:message name="AvailablePrintersSoapOut">
    <wsdl:part name="parameters" element="tns:AvailablePrintersResponse" />
  </wsdl:message>
  <wsdl:message name="PrinterExistsSoapIn">
    <wsdl:part name="parameters" element="tns:PrinterExists" />
  </wsdl:message>
  <wsdl:message name="PrinterExistsSoapOut">
    <wsdl:part name="parameters" element="tns:PrinterExistsResponse" />
  </wsdl:message>
  <wsdl:message name="CanOpenPrinterSoapIn">
    <wsdl:part name="parameters" element="tns:CanOpenPrinter" />
  </wsdl:message>
  <wsdl:message name="CanOpenPrinterSoapOut">
    <wsdl:part name="parameters" element="tns:CanOpenPrinterResponse" />
  </wsdl:message>
  <wsdl:message name="GetImpersonatedUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetImpersonatedUser" />
  </wsdl:message>
  <wsdl:message name="GetImpersonatedUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetImpersonatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="InstalledPrintersSoapIn">
    <wsdl:part name="parameters" element="tns:InstalledPrinters" />
  </wsdl:message>
  <wsdl:message name="InstalledPrintersSoapOut">
    <wsdl:part name="parameters" element="tns:InstalledPrintersResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GeneratePDF1">
      <wsdl:input message="tns:GeneratePDF1SoapIn" />
      <wsdl:output message="tns:GeneratePDF1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF2">
      <wsdl:input message="tns:GeneratePDF2SoapIn" />
      <wsdl:output message="tns:GeneratePDF2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF3">
      <wsdl:input message="tns:GeneratePDF3SoapIn" />
      <wsdl:output message="tns:GeneratePDF3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF4">
      <wsdl:input message="tns:GeneratePDF4SoapIn" />
      <wsdl:output message="tns:GeneratePDF4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF5">
      <wsdl:input message="tns:GeneratePDF5SoapIn" />
      <wsdl:output message="tns:GeneratePDF5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <wsdl:input message="tns:MergeSoapIn" />
      <wsdl:output message="tns:MergeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MergeExtended">
      <wsdl:input message="tns:MergeExtendedSoapIn" />
      <wsdl:output message="tns:MergeExtendedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StitchDocuments">
      <wsdl:input message="tns:StitchDocumentsSoapIn" />
      <wsdl:output message="tns:StitchDocumentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StitchPages">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stitches the specified pages of the PDF document into a single continuous PDF document.  Note that the page numbers in the pages array are 0-based.</wsdl:documentation>
      <wsdl:input message="tns:StitchPagesSoapIn" />
      <wsdl:output message="tns:StitchPagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PageCount">
      <wsdl:input message="tns:PageCountSoapIn" />
      <wsdl:output message="tns:PageCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintPDF">
      <wsdl:input message="tns:PrintPDFSoapIn" />
      <wsdl:output message="tns:PrintPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintPDFWithFailover">
      <wsdl:input message="tns:PrintPDFWithFailoverSoapIn" />
      <wsdl:output message="tns:PrintPDFWithFailoverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AvailablePrinters">
      <wsdl:input message="tns:AvailablePrintersSoapIn" />
      <wsdl:output message="tns:AvailablePrintersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrinterExists">
      <wsdl:input message="tns:PrinterExistsSoapIn" />
      <wsdl:output message="tns:PrinterExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CanOpenPrinter">
      <wsdl:input message="tns:CanOpenPrinterSoapIn" />
      <wsdl:output message="tns:CanOpenPrinterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImpersonatedUser">
      <wsdl:input message="tns:GetImpersonatedUserSoapIn" />
      <wsdl:output message="tns:GetImpersonatedUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InstalledPrinters">
      <wsdl:input message="tns:InstalledPrintersSoapIn" />
      <wsdl:output message="tns:InstalledPrintersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneratePDF1">
      <soap:operation soapAction="http://kindredhealthcare.com/GeneratePDF1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF2">
      <soap:operation soapAction="http://kindredhealthcare.com/GeneratePDF2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF3">
      <soap:operation soapAction="http://kindredhealthcare.com/GeneratePDF3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF4">
      <soap:operation soapAction="http://kindredhealthcare.com/GeneratePDF4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF5">
      <soap:operation soapAction="http://kindredhealthcare.com/GeneratePDF5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <soap:operation soapAction="http://kindredhealthcare.com/Merge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeExtended">
      <soap:operation soapAction="http://kindredhealthcare.com/MergeExtended" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StitchDocuments">
      <soap:operation soapAction="http://kindredhealthcare.com/StitchDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StitchPages">
      <soap:operation soapAction="http://kindredhealthcare.com/StitchPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageCount">
      <soap:operation soapAction="http://kindredhealthcare.com/PageCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintPDF">
      <soap:operation soapAction="http://kindredhealthcare.com/PrintPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintPDFWithFailover">
      <soap:operation soapAction="http://kindredhealthcare.com/PrintPDFWithFailover" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailablePrinters">
      <soap:operation soapAction="http://kindredhealthcare.com/AvailablePrinters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrinterExists">
      <soap:operation soapAction="http://kindredhealthcare.com/PrinterExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanOpenPrinter">
      <soap:operation soapAction="http://kindredhealthcare.com/CanOpenPrinter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImpersonatedUser">
      <soap:operation soapAction="http://kindredhealthcare.com/GetImpersonatedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://kindredhealthcare.com/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstalledPrinters">
      <soap:operation soapAction="http://kindredhealthcare.com/InstalledPrinters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneratePDF1">
      <soap12:operation soapAction="http://kindredhealthcare.com/GeneratePDF1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF2">
      <soap12:operation soapAction="http://kindredhealthcare.com/GeneratePDF2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF3">
      <soap12:operation soapAction="http://kindredhealthcare.com/GeneratePDF3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF4">
      <soap12:operation soapAction="http://kindredhealthcare.com/GeneratePDF4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePDF5">
      <soap12:operation soapAction="http://kindredhealthcare.com/GeneratePDF5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <soap12:operation soapAction="http://kindredhealthcare.com/Merge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeExtended">
      <soap12:operation soapAction="http://kindredhealthcare.com/MergeExtended" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StitchDocuments">
      <soap12:operation soapAction="http://kindredhealthcare.com/StitchDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StitchPages">
      <soap12:operation soapAction="http://kindredhealthcare.com/StitchPages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageCount">
      <soap12:operation soapAction="http://kindredhealthcare.com/PageCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintPDF">
      <soap12:operation soapAction="http://kindredhealthcare.com/PrintPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintPDFWithFailover">
      <soap12:operation soapAction="http://kindredhealthcare.com/PrintPDFWithFailover" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailablePrinters">
      <soap12:operation soapAction="http://kindredhealthcare.com/AvailablePrinters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrinterExists">
      <soap12:operation soapAction="http://kindredhealthcare.com/PrinterExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanOpenPrinter">
      <soap12:operation soapAction="http://kindredhealthcare.com/CanOpenPrinter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImpersonatedUser">
      <soap12:operation soapAction="http://kindredhealthcare.com/GetImpersonatedUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://kindredhealthcare.com/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstalledPrinters">
      <soap12:operation soapAction="http://kindredhealthcare.com/InstalledPrinters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://mdwpr220/PDFService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://mdwpr220/PDFService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>