SubjectTermChanges/LexmarkImaging/Web References/ItatServices/imaging.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kindredhealthcare.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://kindredhealthcare.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kindredhealthcare.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ValidateManagedItemNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="systemId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="managedItemNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateManagedItemNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateManagedItemNumberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="systemId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="managedItemNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoreDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateManagedItemNumberSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateManagedItemNumber" />
  </wsdl:message>
  <wsdl:message name="ValidateManagedItemNumberSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateManagedItemNumberResponse" />
  </wsdl:message>
  <wsdl:message name="StoreDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:StoreDocument" />
  </wsdl:message>
  <wsdl:message name="StoreDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:StoreDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="ImagingSoap">
    <wsdl:operation name="ValidateManagedItemNumber">
      <wsdl:input message="tns:ValidateManagedItemNumberSoapIn" />
      <wsdl:output message="tns:ValidateManagedItemNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreDocument">
      <wsdl:input message="tns:StoreDocumentSoapIn" />
      <wsdl:output message="tns:StoreDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImagingSoap" type="tns:ImagingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateManagedItemNumber">
      <soap:operation soapAction="http://kindredhealthcare.com/ValidateManagedItemNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreDocument">
      <soap:operation soapAction="http://kindredhealthcare.com/StoreDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImagingSoap12" type="tns:ImagingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateManagedItemNumber">
      <soap12:operation soapAction="http://kindredhealthcare.com/ValidateManagedItemNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreDocument">
      <soap12:operation soapAction="http://kindredhealthcare.com/StoreDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Imaging">
    <wsdl:port name="ImagingSoap" binding="tns:ImagingSoap">
      <soap:address location="http://localhost/itat/services/imaging.asmx" />
    </wsdl:port>
    <wsdl:port name="ImagingSoap12" binding="tns:ImagingSoap12">
      <soap12:address location="http://localhost/itat/services/imaging.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>